<ion-header no-border>
  <ion-toolbar no-border-bottom>
    <ion-title>
      <h4><strong>Faça o seu login</strong></h4>
    </ion-title>
  </ion-toolbar>
  <img src="assets/images/logo.png">
</ion-header>

<ion-content>
  <ion-list>
    
    <div class="forms">

      <ion-item lines ="none">
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="text" placeholder="E-mail" [(ngModel)]="user.email"></ion-input>
        <ion-icon name="person" color="dark" slot="start"></ion-icon>
      </ion-item>

      <ion-item lines ="none">
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" placeholder="Senha" [(ngModel)]="user.password"></ion-input>
        <ion-icon name="lock-closed" color="dark" slot="start"></ion-icon>
      </ion-item>

  </div>
    <div class="botoes">
      <ion-button (click)="login()" expand="block"  color="dark" shape="round"> Entrar</ion-button>
      <ion-button fill="outline"  expand="block" color="dark" routerLink="/register" shape="round"> Registrar</ion-button>
      <ion-button fill="clear" expand="block" color="dark" routerLink="/forget" shape="round">Esqueci minha senha</ion-button>
    </div>
    </ion-list>
</ion-content>
