<ion-content>
  <ion-slides pager="true" #mySlider>
    <ion-slide>
      <img src="assets/images/iconIntro.png">
      <h4>Seja bem-vindo ao Ciflex!</h4>
      <ion-button expand="block" (click)="swipeNext()"  fill="outline">Avançar</ion-button>
    </ion-slide>
    <ion-slide>
      <img src="assets/images/iconIntro.png">
      <h4>Um app para você<br>tocar música com tranquilidade</h4>
      <ion-button expand="block" (click)="swipeNext()"  fill="outline">Avançar</ion-button>
    </ion-slide>
    <ion-slide>
      <img src="assets/images/iconIntro.png">
      <h4>Crie sua lista<br>de cifras prediletas</h4>
      <ion-button expand="block" (click)="mudarPagina()" fill="outline">Iniciar</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
