ion-slides{
    height: 100%;
}


ion-button{
    position: fixed;
    margin-top:130%;
    color: white;
    --border-color: #fff !important;
    --color-activated: var(--ion-color-light,#fff);;
}


ion-slide{
  
    flex-direction: column;
    width: 100%;
    height: 100%;
   

}
h4{
    color: white;
    font-weight: bold;

}

img{
    height: 100px;
    width: 100px;
    padding-left: 20px;
}


ion-content{
--background: linear-gradient(to bottom left, #f80341, #750099)!important;
}