<ion-header no-border>
  <ion-toolbar no-border-bottom>
    <ion-title>
      <h5><strong>Nova Cifra</strong></h5>
      <!-- <h6 class="text2">Use sua criatividade</h6> -->
    </ion-title>
    <ion-avatar slot="end">
      <ion-icon class="iconhead" name="copy-outline"></ion-icon>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p style="text-align: center;">
    Use sua criatividade!
  </p>
  <div style="margin: 5%;">
    <ion-textarea cols="20" rows="80">

    </ion-textarea>
  </div>

</ion-content>